.idea
*.iml
*/target/
**/target/*

.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/bigtoolbox/network/network.errors.log

# Don't commit Visual Studio folders
**/.vs/
**/obj/
**/packages/
**/bin/

# Ignore stuff from MSBuild (however, it will be included in the .jar during the build)
network/src/main/resources/JavaInterop.exe
network/src/main/resources/JavaInterop.exe.config
network/src/main/resources/SimpleWifi.dll