dist: xenial
language: java
jdk:
  - oraclejdk11
  - openjdk11

env:
  - CLI_VERSION=latest
addons:
  apt:
    packages:
      - gettext
      - libcurl4-openssl-dev
      - libicu-dev
      - libssl-dev
      - libunwind8
      - zlib1g
      - nuget

install:
  - export DOTNET_INSTALL_DIR="$PWD/.dotnetcli"
  - curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version "$CLI_VERSION" --install-dir "$DOTNET_INSTALL_DIR"
  - export PATH="$DOTNET_INSTALL_DIR:$PATH"


#  - wget -nv https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb
#  - sudo dpkg -i packages-microsoft-prod.deb
#  - sudo apt-get install apt-transport-https
#  - sudo apt-get update
#  - sudo apt-get install dotnet-sdk-2.1
script:
  - dotnet --version
  - nuget help